<p>
  <b>Brief message:</b>
  <%= @update.brief_message %>
</p>

<p>
  <b>Details:</b>
  <%= @update.details %>
</p>


<%= link_to 'Edit', edit_update_path(@update) %> |
<%= link_to 'Back', updates_path %>
